<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1 v-for="user of userListArray">{{user.name}}</h1>
        <h1 v-for="value,key,index of userListobj">{{key}}</h1>

        <!-- <div v-if="show">
            <text-component>
        </div>
        <div v-show="show">
            <text-component>
        </div> -->


        <!-- <h1 v-if='show'>Hello Vue</h1>
        <span>description</span> -->

        <!-- <div v-if="Math.random() > 0.5">
            Now you see me
        </div>
        <div v-else>
            Now you don't
        </div> -->


        <!-- <div v-show="show">
            Now you see me
        </div>
        <div v-show="!show">
            Now you don't
        </div>
         -->



        <!-- <div v-if="type === 'A'">
            A
            <input type="text" key="aInput" />
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>
        <div>{{content}}</div> -->
    </div>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
    <script>
        Vue.component('TextComponent', {
            template: '<div>text</div>',
        })
        const dataMapping = {
            A: 'A Contnet',
            B: 'B Contnet',
            C: 'C Contnet',
        }

        let vm = new Vue({
            el: '#app',
            data: {
                show: true,
                type: 'A',
                userListArray: [
                    {
                        name: "Alex",
                        gender: 'male',
                    },
                    {
                        name: "Jenny",
                        gender: 'female',
                    },
                ],

                userListobj: {
                    alex: 'male',
                    sara: 'female',
                },
            },
            computed: {



            }
        })

    </script>
</body>

</html>